@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fd-column {
    flex-direction: column;
}

body {
    height: 100vh;
    background-color:rgb(238, 233, 173);
}

.livro {
    position: relative;
    width: 320px;
    height: 500px;
}

article {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    
}

h1 {
    text-align: center;
    line-height: 70%;
    color: white;
    font-family: "Cookie";
    font-size: 70px;
}

.capa .frente, .capa .tras {
    background-color: rgb(51, 94, 105);
}

.pagina-virada .frente{
    transform: rotateX(30deg) rotateY(-180deg);
}

.pagina-virada .tras {
    transform: rotateX(30deg) rotateY(-180deg);
}

.frente, .tras {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    transform-origin: center left;
    transform: rotateX(30deg);
    transition: transform 1s;
}

.folha-branca {
    width: 95%;
    height: 95%;
    margin-top: 3.5%;
}

.frente {
    z-index: 1;
    backface-visibility: hidden;
    box-shadow: 40px -1px 30px -30px rgba(48,48,48,0.75) inset;
}

.tras {
    z-index: 0;
    box-shadow: 40px -1px 81px -16px rgba(48,48,48,0.75) inset;
}

.conteudo {
    width: 100%;
    height: 100%;
    
}

.tras .conteudo {
    transform: scaleX(-1);
}

.folha-branca .conteudo {
    font-family: "Kalam";
}

.grid-container div {
    border: 1px solid black;
    border-radius: 5px;
}

h2 {
    font-family: 'Work Sans';
    font-size: 14px;
    width: 100%;
    margin: 5px auto;
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    row-gap: 0px;
    grid-template-columns: 150px auto;
    grid-template-rows: 3;
}

.grid-container div {
    margin: 5px 5px;
    box-sizing: border-box;
}

.grid-container div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin-right: 2px;
}

input:focus, input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

button, input {
    background-color: transparent;
    font-family: inherit;
}

button {
    cursor: pointer;
}

.b-done {
    border-radius: 20%;
    border: 1px solid black;
    outline: none;
    color: white;
}

.botoes button {
    border: none;
}