
:root {
    --sombra: rgb(63, 63, 63);
    --azul: rgb(35, 35, 70);
    --sombraEscura: rgb(29, 29, 29);
}

body {
    perspective: 1000px;
    background-color: rgb(212, 212, 212);
}

.livro {
    display: flex;
    justify-content: center;
    position: relative;
}

@media (max-width: 450px) {
    section {
        justify-content: flex-end !important;
    }
}

article {
    width: 320px;
    height: 500px;
    position: absolute;
    transform: rotateX(30deg);
    transform-origin: center left;
    transition: all 1s;
    border-radius: 0 14px 14px 0;
    box-sizing: border-box;
}

h1 {
    color:antiquewhite;
}

#capa, #fundo, .contra {
    background-color: var(--azul);
}

#capa, #fundo {
    box-shadow: 2px 2px 5px var(--sombra), inset 9px 0px 17px -9px var(--sombraEscura);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.folha {
    background-color:antiquewhite;
    z-index: 1;
    box-shadow: inset 8px 0px 17px -9px var(--sombra);
}

#capa {
    z-index: 2;
}

#fundo {
    z-index: 0;
}

#capa:hover {
    transform: rotateX(30deg) rotateY(-180deg);
}


.botoes {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

img {
    margin-bottom: 20px;
    cursor: pointer;
}

#bright {
    transform: rotateY(-180deg);
}